html
{
    background-color: #4da6ff;
}

body
{
    width: 500px;
    margin: 1em auto;
    background-color: #e0e0eb;
    border: 3px #ffffb3 solid;
}

dt
{
    position: relative;
    left:210px;
}

dd
{
    position: relative;
    left: 125px;
}

h3
{
    text-align: center;
}

#virtualKey
{
    position: relative;
    left: 210px;
}

#submit
{
    position: relative;
    left:210px;
}

#signIn
{
    position: relative;
    left: 375px;
}